<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!-- 配置别名 -->
    <typeAliases>
        <typeAlias alias="FrameUser" type="cn.novice.entity.FrameUser"/>
        <typeAlias alias="FrameDept" type="cn.novice.entity.FrameDept"/>
    </typeAliases>
</configuration>